ul.feed_list  {
	font-size: 0.8em;
    padding-left: 30px;
}
ul.feed_list  li{
	background-color: #ccc;
	list-style-image: url("/themes/ptalk/images/listicon.gif");
	padding: 5px;
	margin-bottom: 5px;
}

.feedlist_body {
	font-weight: bold;
	padding: 5px 0px; 
}
.feed_posted { 
	color: #999999;	
}
form {
	margin: 10px;
}
p {
	font-size: 0.8em;
}
ul#messagenavigation {
	padding-left: 0px;
	margin: 10px 10px;
}
ul#messagenavigation li {
	display: inline;
	font-size: 14px;
}
.messageline {
	padding: 3px 5px;
}
.newmessage {
	background-color: #CCC;
}
ul#speakoutnavigation {
	padding-left: 0px;
	margin: 10px 10px;
}
ul#speakoutnavigation li, .speakoutnavigation {
	display: inline;
	font-size: 14px;
}
li.topiclist {
	list-style: none;
}
.categorydescription {
	font-size: 0.8em;
}
li.topiclist{
	font-size: 0.75em;
}
.replylistitem {
	background-color: #F0F0F0;
	padding: 10px 20px;
	margin-bottom: 20px;
}
.reply_list {
	background-color: #E9E9E9;
	padding: 5px 13px;
	margin: 0px 10px;
}
.reply_list img {
	float: left;
	padding-right: 5px;
}
p.category {
	padding: 5px;
}
ul.dealist {
	padding-left: 0px;	
}
.dealist li {
	border-top: 1px solid #2e6ac4;
	border-left: 5px solid #2e6ac4;
	border-bottom: 1px solid #2e6ac4;
	border-right: 5px solid #2e6ac4;
	font-size: 0.8em;
	list-style: none;
	margin: 0px 3px 0px 5px;
}
.active {
	
}
.inactive {
	
}
.dealist_title {
	font-weight: bold;
}
.dealist_discount, .dealist_saving, .dealist_postedat {
	font-size: 0.8em;		
}
.dealist_discount, .dealist_saving  {
	
}
.dealist_dealprice {
    background-color:#2e6ac4;
    color: #FFF;
    float: left;
    padding: 13px 4px;
    margin-right: 3px;
}
.dealist_expiresat {
	font-weight: bold;
	font-size: 0.8em;
}
.deal_expiresat, .deal_buyercount, .deal_discount {
	font-weight: bold;
	font-size: 0.8em;
}