body {
    background-color: #FFF;
    color: #4C4C4B;
    font-family: "Lucida Sans Unicode",arial;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    text-align: left;
}
a, img {
	border: none;
	text-decoration: none;
}
#wrapper {
    background: url("/images/frontpage/wrapper_bg.png") no-repeat;
    height: 500px;
 	margin: 0 auto;
 	padding: 10px 20px;
 	width: 920px;
}
#header, #content, #sub-content {

}
#content {
    height: 500px;
    margin-top: 30px;
}

#sub-content {
    clear: both;
    color: #476FBE;
}
#footer {

    clear: both;
    color: #476FBE;
    padding: 5px 0;
    text-align: center;
}
#blockquote {
    font-size: 24px;
    line-height: 28px;
    padding: 5px 10px;
    margin-left: 90px;
}
#signup {
	height: 370px;
}
.blubitems {
	float: left;
	padding: 10px;
	width: 280px;
}
#content_signup {
    background: url("/images/frontpage/content_bg.png") top no-repeat;
	clear: both;
	color: #FFF;
	font-size: 23px;
	height: 340px;
	padding: 20px 0px;
	text-align: center;
}

#content_iphone {
	float:left;
	padding-left: 10px;
	margin-top: -40px;
}
input#content_signup_button {
	background: url("/images/frontpage/signup_button.png") no-repeat;
	border: none;
	color: #FFF;
	cursor: pointer;
    font-family: "Droid Sans",Helvetica;
	font-size: 48px;	
	height: 138px;
	padding: 0 60px;
	margin-top: 20px;
	margin-left: 190px;
}
input#content_signup_button:hover {
	background: url("/images/frontpage/signup_button.png") 0 -137px no-repeat;
	height: 138px;
}
#blurbs {
	clear: both;
}
.success_backend, .success_network {
	background-image:url(../images/accepted_48.png);
	background-position:15px 12px;
	background-repeat:no-repeat;
	background-color:#D9FFB2;
	border:2px solid #88C331;
	font-size: 16px;
	padding:10px 20px 0px 85px;
	margin-bottom: 10px;
}
#backendlink, #networklink {	
	color: green;
	font-size: 18px;
	font-weight: bold;
}