.list-comments, .comment_list{
 background-color:#ECEFF5;
 font-size: 0.8em;
 width: 100%;
}

.list-comments td.author, table.list-comments td.report, table.list-comments td.infos{
  padding-top: 5px;
}

.list-comments tr.first_line td{
  border-top: none;
}

.list-comments td.author span.author{
  font-weight: bold;
}

.list-comments td.author span.author a{
  color:#000000;
}

.list-comments  span.date{
  color: #808080;
  font-size: smaller;
}

.list-comments td.infos img{
  border:0;
}
span.infos {
float:right;
	}
.list-comments td.infos{
  width:70px;
  text-align: right;
  vertical-align: top;
  margin-top:0;
}

.list-comments td.infos a.ancre, table.list-comments tbody.deleted, table.list-comments tbody.deleted td.author span.author a{
  color:#aaaaaa;
}

.list-comments td.body, table.list-comments td.infos{
  padding-bottom: 10px;
}

table.list-comments td.body span.msg-deleted, table.list-comments td.author span.date, table.list-comments td.author span.author, table.list-comments td.body blockquote{
  font-style: italic;
}

table.list-comments td.body blockquote{
  display:block;
  margin:5px 0 0 20px;
  border-left:3px solid #aaaaaa;
  padding:0 0 5px 5px;
}

div.form-comment fieldset{
  border:1px solid #000000;
}

div.form-comment legend{
  font-weight:bold;
  font-size:large;
}

div.form-comment label, div.form-comment span.help{
  color:#444444;
}


div.form-comment input:hover, div.form-comment textarea:hover{

}

div.form-comment span.help{
  font-style: italic;
  font-size: smaller;
}

div.form-comment label.error, div.form-comment ul.error_list li{
  color:#ff0000;
}

div.form-comment ul.error_list{
  margin:20px 0 0 0;
  list-style-image: url('../images/arrow-down.png');
}

div.form-comment input.error, div.form-comment textarea.error{
  border-color: #ff0000;
  background-color:#f6d1d1;
}

div.form-comment td.submit{
  text-align:center;
  margin:0 auto;
}

div.form-comment input.submit{
  width:100px;
}

div.form-comment input.submit:hover{
  background-color:#aaaaaa;
  border-color: #000000;
}
div.form-comment textarea {
	height: 60px;
}
.comment_heading {
	
}
.comment {
  border-top: #FFF 1px solid;	
  padding: 5px 0px;
}
div.form-comment fieldset{
  border:1px solid #000000;
}

div.form-comment legend{
  font-weight:bold;
  font-size:large;
}

div.form-comment label, div.form-comment span.help{
  color:#444444;
}


div.form-comment input:hover, div.form-comment textarea:hover{

}

div.form-comment span.help{
  font-style: italic;
  font-size: smaller;
}

div.form-comment label.error, div.form-comment ul.error_list li{
  color:#ff0000;
}

div.form-comment ul.error_list{
  margin:20px 0 0 0;
  list-style-image: url('../images/arrow-down.png');
}

div.form-comment input.error, div.form-comment textarea.error{
  border-color: #ff0000;
  background-color:#f6d1d1;
}

div.form-comment td.submit{
  text-align:center;
  margin:0 auto;
}

div.form-comment input.submit{
  width:100px;
}

div.form-comment input.submit:hover{
  background-color:#aaaaaa;
  border-color: #000000;
}
div.form-comment{
	margin: 0 5px;
	width: 100%;
}

div.form-comment input, div.form-comment textarea{

}

div.form-comment tr#tr_reply_author, div.form-comment tr#tr_reply_author_delete{
  display: none;
}

div.form-comment input:readonly{
  background-color: transparent;
  border:none;
  color: #444444;
  margin-top:2px;
  font-weight:bold;
}

div.form-comment a.delete_reply{
  font-size: smaller;
  color:#444444;
  font-style: italic;
}

div.form-comment #notlogged{
  text-align: center;
  color: #ff0000;
  font-weight: bold;
}
img{ border:0;}div.pagination{ width:500px;text-align:center;font-weight:bold;background-color:#cccccc;}div.pagination a,div.backtop a{ font-weight: normal;background-color:#cccccc;text-decoration: none;color:#000000;}div.backtop{ float:right;}div.backtopmax{ float:left;width:500px;text-align:center;padding:3px;background-color:#cccccc;}
div.form-comment tr#tr_reply_author,div.form-comment tr#tr_reply_author_delete{ display: table-row;}
#reportComment {

	width: 200px;
}

div.form-comment{
}
div.form-comment fieldset {
	border: none;
	}
div.form-comment input, div.form-comment textarea{
  margin-top:10px;
}

div.form-comment textarea{
  height:120px;
}

/* feeds */

h4.feed_list {
	font-size: 14px;
	margin: 2px 0px;	
	padding-bottom: 5px;
}

ul.feed_list  {
	font-size: 0.8em;
	list-style: none;
    padding-left: 0px;
}
ul.feed_list li{
	background-color: #F2F2F2;
	padding: 5px;
	margin-bottom: 5px;
}

.feedlist_body {
	font-weight: bold;
	padding: 5px 0px; 
}
.feed_posted { 
	color: #999999;	
}
form {
	margin: 10px;
}

/* headspace */

ul#headspacenavigation {
	padding-left: 0px;
	margin: 10px 10px;
}
ul#headspacenavigation li {
	background: url("/themes/kustomcruise/images/listicon.png")left no-repeat;
	display: inline;
	font-size: 14px;
	padding-left: 17px;
}
.messageline {
	font-size: 0.9em;
	margin-left: 5px;
	padding-bottom:5px;
}
ul#messagenavigation {
	padding-left: 0px;
	margin: 10px 10px;
}
ul#messagenavigation li {
	display: inline;
	font-size: 14px;
}
.messageline_subject {
	font-size: 1.1em;
	padding: 3px 5px;
}
.newmessage {
	font-weight: bold;
}
.messageline_details {
	font-size: 0.8em;
	padding: 3px 5px;
}
.messageline_links {
	font-size: 0.8em;
	float: right;
	padding: 3px 5px;
}
.message {
	font-size: 0.9em;
	margin-left: 5px;
	padding-bottom:5px;		
}
ul#speakoutnavigation {
	padding-left: 0px;
	margin: 10px 10px;
}
ul#speakoutnavigation li, .speakoutnavigation {
	background: url("/themes/kustomcruise/images/listicon.png")left no-repeat;
	display: inline;
	font-size: 14px;
	padding-left: 17px;
}
.categorydescription {
	font-size: 0.8em;
}
ul.topiclist {
	padding-left: 0px;
	margin: 5px 0px;
	}
li.topiclist {
	background: url("/themes/kustomcruise/images/category_bg.png") repeat-x;
	border-top: 1px #CCCCCC solid;
	font-size: 0.75em;
	list-style: none;
	padding: 3px 0px;
}
.replylistitem {
	background-color: #F0F0F0;
	padding: 10px 20px;
	margin-bottom: 20px;
}
.reply_list {
	background-color: #E9E9E9;
	padding: 5px 13px;
	margin: 0px 10px;
}
.reply_list img {
	float: left;
	padding-right: 5px;
}
p.category {
	padding: 5px;
}
ul.dealist {
	padding-left: 0px;	
}
.dealist li {
	border-top: 1px solid #2e6ac4;
	border-left: 5px solid #2e6ac4;
	border-bottom: 1px solid #2e6ac4;
	border-right: 5px solid #2e6ac4;
	font-size: 0.8em;
	list-style: none;
	margin: 0px 3px 0px 5px;
}
.active {
	
}
.inactive {
	
}
.dealist_title {
	font-weight: bold;
}
.dealist_discount, .dealist_saving, .dealist_postedat {
	font-size: 0.8em;		
}
.dealist_discount, .dealist_saving  {
	
}
.dealist_dealprice {
    background-color:#2e6ac4;
    color: #FFF;
    float: left;
    padding: 15px 4px;
    margin-right: 3px;
}
.dealist_expiresat {
	font-weight: bold;
	font-size: 0.8em;
}
.deal_expiresat, .deal_buyercount, .deal_discount {
	font-weight: bold;
	font-size: 0.8em;
}