.messageline {
	font-size: 0.9em;
	margin-left: 5px;
	padding-bottom:5px;
}
ul#messagenavigation {
	padding-left: 0px;
	margin: 10px 10px;
}
ul#messagenavigation li {
	display: inline;
	font-size: 14px;
}
.messageline_subject {
	font-size: 1.1em;
	padding: 3px 5px;
}
.newmessage {
	font-weight: bold;
}
.messageline {
	background-color: #F2F2F2;
	border-top: 1px solid #2E6AC4;	
	font-size: 0.8em;
	font-weight: bold;
	padding: 5px ;
}

.messageline_details {
	font-size: 0.8em;
	padding: 3px 5px;
}
.messageline_links {
	font-size: 0.8em;
	float: right;
	padding: 3px 5px;
}
.message {
	font-size: 0.9em;
	margin-left: 5px;
	padding-bottom:5px;		
}
.more_paging {
	font-size: 0.8em;	
}