body {
	font-family: HelveticaNeue,Helvetica,Arial,serif;
	margin: 0;
}
p {
    font-size: 0.9em;
    margin: 0;
    padding: 5px;
}
a {
	color: #9F382C;
	text-decoration: none;
	}
a:hover{
	text-decoration: underline;
}
img  {
	border: #FFF 2px solid;
	}
h1 {
    border-bottom: 1px solid #9F382C;
    color: #9F382C;
	font-size: 0.9em;
    margin: 0;
    padding: 5px;
}
h3 {
    background-color: #9F382C;
    color: white;
	font-size: 0.9em;
    margin: 0;
    padding: 5px;
}
#main {
	padding: 5px;
}
#main h3 a {
	color: #FFF;
	text-decoration: none;
}
#navigation {
  padding: 0px 3px;
}
#footer {
	background-color: #000;
	color: #000;
	font-size: 0.8em;
	padding: 5px 5px 500px 5px;
}

#footer a{
	color: #FFF;
	font-size: 0.9em;
}
ul#topmenunavigation{
	padding-left: 0px;
	margin: 10px 0px;
}
ul#topmenunavigation li {
	display: inline;
	font-size: 0.8em;
}

.navigationright {
	float: right;
}

ul#footernavigation {
	padding-left: 0px;
	margin: 10px 0px;
}
ul#footernavigation li {
	display: inline;
	font-size: 1em;
}